@page
@model Gts.AuthorizationServer.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Вход";
    Layout = "_AuthLayout";
}

<div id="auth-form" class="auth-page-pannel">
    <div class="auth-page-pannel__content">
        <div class="row">
            <div class="col-md-12">
                <div class="logo-container">
                    <img src="/HubLogo.svg" alt="NinjaTaskHub Logo">
                </div>
                <section>
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Логин" />
                            <label asp-for="Input.UserName" class="form-label">Имя пользователя</label>
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Пароль" />
                            <label asp-for="Input.Password" class="form-label">Пароль</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div style="display: flex; align-items: baseline">
                            <button id="login-submit" type="submit" class="btn btn-lg btn-primary btn-login mr-3">Войти</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
