<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="..\Logging\internalAuth-logger.txt">

	<!-- включить средства визуализации основного макета asp.net -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- цели для записиo -->
	<targets>
		<!-- Целевой файл для всех сообщений журнала с основными сведениями -->
		<target xsi:type="File" name="allfile" fileName="..\..\..\..\Logging\AuthLog-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<!-- Целевой файл для собственных сообщений журнала с дополнительными сведениями о Интернете с использованием некоторых основных средств визуализации ASP.NET. -->
		<target xsi:type="File" name="ownFile" fileName="..\..\..\..\Logging\AuthLog-own-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<!--Консоль-->
		<target name="console" xsi:type="Console" layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<!-- Отправка на почту -->
		<target name="firstMail" xsi:type="Mail"
				smtpServer="smtp.mail.ru"
				smtpPort="587"
				smtpAuthentication="Basic"
				smtpUsername="zhurnal.kuratora@mail.ru"
				smtpPassword="wuxREz6iDKYuegwCQuEm"
				enableSsl="true"
				from="zhurnal.kuratora@mail.ru"
				to="shvyrkalovm@mail.ru"
				subject="Сервер авторизации упал"
				body="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
				html="false" />
		
		<target name="firstMail" xsi:type="Mail"
		        smtpServer="smtp.mail.ru"
		        smtpPort="587"
		        smtpAuthentication="Basic"
		        smtpUsername="zhurnal.kuratora@mail.ru"
		        smtpPassword="wuxREz6iDKYuegwCQuEm"
		        enableSsl="true"
		        from="zhurnal.kuratora@mail.ru"
		        to="It@gts.express"
		        subject="Сервер авторизации упал"
		        body="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
		        html="false" />
	</targets>

	<!-- правила для сопоставления имени регистратора с целью -->
	<rules>
		<!--Все логи, в том числе от Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<!--Консоль-->
		<logger name="*" minlevel="Trace" writeTo="console" />

		<!--Пропускать некритические журналы Microsoft и записывать только собственные журналы (BlackHole) -->
		<logger name="Microsoft.*" minlevel="Trace" final="true" />

		<!--Свои логи-->
		<logger name="*" minlevel="Info" writeTo="ownFile" />
		<!--Почты-->
		<logger name="*" level="Error" writeTo="firstMail" />

		<logger name="*" level="Fatal" writeTo="firstMail" />
	</rules>
</nlog>