@model Gts.AuthorizationServer.ViewModels.Users.EditUserViewModel
@{
    ViewBag.Title = "Редактирование пользователя";
}
<form asp-action="Edit" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" autocomplete="off" />
    </div>
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label">Имя</label>
        <input type="text" asp-for="FirstName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label">Фамилия</label>
        <input type="text" asp-for="LastName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="MiddleName" class="form-label">Отчество</label>
        <input type="text" asp-for="MiddleName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label">Номер телефона</label>
        <input id="PhoneNumber" type="text" asp-for="PhoneNumber" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="IsActive" class="form-label">Активность</label>
        <input id="IsActive" class="form-check-input"  type="checkbox" asp-for="IsActive" class="" /> @* todo класс и стили *@
    </div>
    <div class="mb-3">
        <label class="form-label">Выберите роль</label>
        <select asp-for="SelectedRole" class="form-select" name="selectedRole">
            @foreach (var role in ViewBag.Roles)
            {
                <option value="@role.Name">@role.Name</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Выберите язык</label>
        <select asp-for="SelectedLocalizationType" class="form-select" name="selectedLocalizationType">
            @foreach (var localizationType in ViewBag.LocalizationTypes)
            {
                <option value="@localizationType.Key">@localizationType.Value</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <input type="submit" value="Сохранить" class="btn btn-primary btn-login" />
    </div>
</form>